@import "tailwindcss";
@plugin "daisyui";

/* for fonts */
@font-face{
    font-family:Lao;
    src: url('../fonts/PhetsarathOT.woff');
}
.fontLao, .swal2-title, .swal2-html-container, .swal2-actions{
    font-family:Lao;
}
@font-face{
    font-family:Eng;
    src: url('../fonts/TIMES.TTF');
}
.fontEng{
    font-family:Eng;
}

/* input */
.input {
    &:focus, &:focus-within {
        --input-color: #422ad5a1;
        box-shadow: 0 1px var(--input-color);
    }
    font-size: 16px;
}
/* sweetalert icon */
div:where(.swal2-icon).swal2-success [class^=swal2-success-line] {
    background-color: #00d390 !important;
}

div:where(.swal2-icon).swal2-success .swal2-success-ring {
    border: .25em solid #00d390 !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
    background-color: #422ad5 !important;
}

div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line] {
    background-color: #f31b1b !important;
}
div:where(.swal2-icon).swal2-error {
    border-color: #f31b1b !important;
}
div:where(.swal2-icon).swal2-warning {
    border-color: #ff8c28 !important;
    color: #ff8c28 !important;
}