@import "tailwindcss";
@plugin "daisyui";

/* for fonts */
@font-face{
    font-family:Lao;
    src: url('../fonts/PhetsarathOT.woff');
}
.fontLao, .swal2-title, .swal2-html-container, .swal2-actions{
    font-family:Lao;
}
@font-face{
    font-family:Eng;
    src: url('../fonts/TIMES.TTF');
}
.fontEng{
    font-family:Eng;
}

/* input */
.input {
    &:focus, &:focus-within {
        --input-color: #422ad5a1;
        box-shadow: 0 1px var(--input-color);
    }
    font-size: 16px;
}